.event__registered {
    font-size: 1rem;
  }
  
  .event__registeredItem {
    margin-bottom: 1rem;
  }
  
  .event__registeredName {
    font-weight: bold;
  }
  
  .event__registeredComment {
    display: block;
    font-style: italic;
  }
  
  .event__register {
    margin: 2rem 0;
  }